<a href="https://colab.research.google.com/github/Praveen3ravi/Python-Learning/blob/main/30_11_2021-Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=12
b=34
a+=b
print(a)

46

In [64]:
a=12
b=34
a-=b
print(a)

-22

In [65]:
a=12
b=34
a/=b
print(a)

0.35294117647058826

In [66]:
a=12
b=34
a*=b
print(a)

408

In [3]:
def fibo(n):
  if n<=1:
    return 1
  else:
    return n*sum(n-1)
n=int(input())
fibo(n)

5

120

In [61]:
n=int(input())
def fiboo(n):
  total=1
  for i in range(total,n+1):
    total*=i
  return total
fiboo(n)

4

24

In [4]:
def sum(n):
  if n==0:
    return 0
  else:
    return n+sum(n-1)
n=int(input())
sum(n)

5

15

In [7]:
def mul(t,l):
  for i in range(1,l+1):
    print(t,'*',i,'=',i*t)
t=int(input('Enter a table:'))
l=int(input('Enter a limit:'))
mul(t,l)

Enter a table:5
Enter a limit:10
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [20]:
# ZeroDivison Error,Name Error,Index Error,Value Error,Key Error,Attribute Error.
# Tottlay 153 Error type is there.
try:
  # a=int(input())
  # b=int(input())
  # c=a/b
  d={'Name':'Praveen','Age':23,'Place':'Kotagiri'}
  print(d['Address']) 
except ZeroDivisionError as z:
  print("ZeroDivisionError:",z)
except KeyError as k:
  print('KeyError',k)

KeyError 'Address'

In [26]:
#input='abcd'
'''
abcd=
a ab abc abcd - [0:4]
b bc bcd - [1:4]
c cd - [2:4]
d - [3:4]
'''
#SUB-STRING
n=input()
for i in range(len(n)):
  for j in range(i+1,len(n)+1):
    print(n[i:j],end=' ')
  print()

abcd
a ab abc abcd
b bc bcd
c cd
d

In [30]:
n=input()
for i in range(1):
  for j in range(i+1,len(n)+1):
    print(n[i:j],end='\n')
  print()

123456
1
12
123
1234
12345
123456

In [37]:
n=int(input())
x=[i for i in range(n+1) if i%2==0]
print("Even:",x )

231
Even: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230]

In [38]:
def intt(a,b):
  print(a*b)
intt(5,6)

30

In [67]:
a=[1,2,3,5,6,8,9,40]
def single_astrix(*a):
  print(a)
single_astrix(1,2,3,5,6,8,9,40)

(1, 2, 3, 5, 6, 8, 9, 40)

In [72]:
def double_astrix(**a):
  print(a['Name'])
double_astrix(Name="Praveen Ravi",Age=23,Address="Kotagiri")

Praveen Ravi

In [74]:
g=15
def sum(a):
  global g
  return g*a
sum(5)

75

In [88]:
def fizz_buzz(input):
  if input%3==0 and input%5==0:
    return 'Fizz_Buzz'
  if input%3==0:
    return 'Fizz'
  if input%5==0:
    return 'Buzz'  
  return input 
fizz_buzz(15)

'Fizz_Buzz'

# ***Lambda('Anonymous Function')***
## lambda x,y(We can give as many arguments we want):x*y(But only one expression)
## lambda arguments(>1):expression(==1)

In [97]:
#Anonymous Function
x=15
y=25
b=lambda x,y: x**y
print(b)

<function <lambda> at 0x7f2afbedfdd0>

# ***map(lambda,sequence)***

In [104]:
# map(func,sequence)
a=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [108]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[11,22,33,44,55,66,77,88,99,111]
tuple(map(lambda x,y:(x*y+5),a,b))

(16, 49, 104, 181, 280, 401, 544, 709, 896, 1115)

# ***Filter(lambda,iter(1))***
## Only one iterable.

In [111]:
filter(lambda x,y:x*10,a)

In [116]:
list(filter(lambda x:x%10==0,range(0,101)))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# ***Reduce(func,iter(1))***
## Reduce a list to its sum/product....

In [118]:
from functools import reduce

In [137]:
a=[1,2,3,4,5,6,7,8,9,10]
# n=int(input())
reduce(lambda x,y:x*y,a)  # range() doesn't work.

3628800